body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.game {
    text-align: center;
}

.status {
    margin: 10px;
}

.board .row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: whitesmoke;
}

#nextBtn {
    margin-top: 10px;
    display: none;
}
